	<!-- START HOME -->


@{
    ViewBag.Title = "Khóa học đào tạo kỹ năng telesales đỉnh cao |KEDU.VN";
    ViewBag.Description = "Chúng tôi tin tưởng trong việc cung cấp dịch vụ khách hàng tuyệt vời và chúng " +
        "tôi được đáp ứng các khách hàng của chúng tôi. Nếu bạn có bất kỳ câu hỏi, ý kiến hoặc đề nghị, vui lòng liên hệ cho chúng tôi " +
        "Chúng tôi rất mong nhận được phản hồi từ bạn. ";
    ViewBag.Keywords = "Đào tạo telesales,khóa học đỉnh cao seo, Bí quyết chốt đơn , telesale hiệu quả, kịch bản sale ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home" class="welcome-area">
    <div class="welcome-slider-area">
        <div id="welcome-slide-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image:  url(../../Content/CRM-Web/img/slider/1.jpg); background-size: cover;">
                    <div class="single-slide-item">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 style="color:white">Tiếp thị khách hàng qua điện thoại </h3>
                                            @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit . orci a euismod feugiat orci odio semper justo, at varius lectus enim et est </p>

                                                <a class="btn btn-default btn-home-border" href="#">Discover More</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image:  url(../../Content/CRM-Web/img/slider/2.jpg); background-size: cover;">
                    <div class="single-slide-item">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 style="color:white">Khảo sát khách hàng qua điện thoại</h3>
                                            @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit . orci a euismod feugiat orci odio semper justo, at varius lectus enim et est </p>

                                                <a class="btn btn-default btn-home-border" href="#">Discover More</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url(../../Content/CRM-Web/img/slider/3.jpg); background-size: cover;">
                    <div class="single-slide-item">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 style="color:white">Bán hàng qua điện thoại</h3>
                                            @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit . orci a euismod feugiat orci odio semper justo, at varius lectus enim et est </p>

                                                <a class="btn btn-default btn-home-border" href="#">Discover More</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#welcome-slide-carousel" role="button" data-slide="prev">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control" href="#welcome-slide-carousel" role="button" data-slide="next">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<!-- END  HOME DESIGN -->
<!-- START FEATURE-->
<!-- START ABOUT US -->
<section class="about_us section-padding gray-section" id="about_us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-content">
                    <!-- START HEADER TITLE-->
                    <div class="about-title section-title text-left wow zoomIn">
                        <span>Giới Thiệu</span>
                        <h2>Giới Thiệu về chúng tôi - Kedu</h2>
                    </div>
                    <!-- END HEADER TITLE -->

                    <p>Với nhiều năm kinh nghiệm trong lĩnh vực khảo sát thị trường qua điện thoại, Kedu mong muốn gửi tới Quý khách hàng giải pháp khảo sát hiệu quả giúp khách hàng tiết kiệm thời gian, chi phí và thu thập được mẫu thông tin tốt nhất nhờ đó khách hàng có thể ra quyết định chính xác, nhanh chóng.</p>
                </div>
            </div><!--- END COL -->

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about_img">
                    <img src="~/Content/CRM-Web/img/about-img.jpg" alt="about image">
                    @*<a class="play_btn vbox-item" data-vbtype="video" data-autoplay="true" href="http://youtu.be/UZL3l2ILr9A"><i class="ti-control-play"></i></a>*@
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT US -->

<section id="features" class="features section-padding">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center wow zoomIn">
                <span>Dịch Vụ</span>
                <h2>Dịch Vụ của Kedu là gì</h2>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_about text-center">
                    <i class="ti-rocket about_icon"></i>

                    <p>Linh hoạt trong việc sử dụng nguồn lực sales bên ngoài </p>
                </div>
            </div><!--- END COL -->

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_about text-center">
                    <i class="ti-vector  about_icon"></i>

                    <p>Áp dụng công nghệ trong việc quản lý, báo cáo tiến độ, chất lượng sales </p>
                </div>
            </div><!--- END COL -->

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_about text-center">
                    <i class="ti-headphone-alt  about_icon"></i>

                    <p>Tối ưu chi phí cho khách hàng</p>
                </div>
            </div>


            <!--- END COL -->

        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END FEATURE -->
<!-- START Skill -->
@*<section class="skill section-padding">
        <div class="container">
            <div class="row">

                <div class="section-title text-center wow zoomIn">
                    <span>Our Skill</span>
                    <h2>Check our Expertise</h2>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="progress-bar-linear">
                        <p class="progress-bar-text">Development</p>
                        <div class="progress-bar">
                            <span data-percent="85"></span>
                        </div>
                    </div><!--end progress bar-->

                    <div class="progress-bar-linear">
                        <p class="progress-bar-text">Cordignator</p>
                        <div class="progress-bar">
                            <span data-percent="95"></span>
                        </div>
                    </div><!--end progress bar-->
                </div><!--- END Col -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="progress-bar-linear">
                        <p class="progress-bar-text">Web Design</p>
                        <div class="progress-bar">
                            <span data-percent="80"></span>
                        </div>
                    </div><!--end progress bar-->

                    <div class="progress-bar-linear">
                        <p class="progress-bar-text">Laravel</p>
                        <div class="progress-bar">
                            <span data-percent="70"></span>
                        </div>
                    </div>
                </div><!--- END Col -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>*@
<!-- END Skill -->
<!-- START WHY CHOOSE US -->
<section class="why_choose_us section-padding" id="Why_Choose_Us">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature_img">
                    <img src="~/Content/CRM-Web/img/laptop.jpg" class="img-responsive" alt="laptop image" />
                </div>
            </div><!--- END COL -->

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="why_choose_content">
                    <div class="section-title text-left wow zoomIn">
                        <span>Sản Phẩm</span>
                        <h2>Sản phẩm dịch vụ của kedu</h2>
                    </div>


                    <div class="single_feature">
                        <div class="feat_number">01</div>
                        <div class="single_f_content">
                            @*<h4>Responsive Design</h4>*@
                            <p>Tiếp thị qua điện thoại ( Telemarketing)</p>

                        </div>
                    </div><!-- End Feature -->

                    <div class="single_feature">
                        <div class="feat_number">02</div>
                        <div class="single_f_content">
                            @*<h4>Easy Customizable </h4>*@
                            <p>Khảo sát qua điện thoại ( TeleSurvey)</p>
                        </div>
                    </div><!-- End Feature -->

                    <div class="single_feature">
                        <div class="feat_number">03</div>
                        <div class="single_f_content">
                            @*<h4>Awesome Support</h4>*@
                            <p>Bán hàng qua điện thoại ( Telesales)</p>
                        </div>
                    </div>

                    <div class="single_feature">
                        <div class="feat_number">04</div>
                        <div class="single_f_content">
                            @*<h4>Easy Customizable </h4>*@
                            <p>Cung cấp dịch vụ cho contact Center (CRM, Tổng đài ảo)</p>
                        </div>
                    </div>

                    <div class="single_feature">
                        <div class="feat_number">05</div>
                        <div class="single_f_content">
                            @*<h4>Easy Customizable </h4>*@
                            <p>Thiết lập, tư vấn vận hành Call center</p>
                        </div>
                    </div>

                    <!-- End Feature -->

                </div><!-- END CAROUSEL SLIDE -->
            </div><!--- END COL -->


        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END WHY CHOOSE US -->
<!-- START SERVICE  -->
<section id="service" class="our_service section-padding gray-section">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center wow zoomIn">
                <span> Tính Năng</span>
                <h2>Kedu  có những tính năng nổi bật nào ?</h2>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_service">
                    <i class="ser_icon ti-paint-bucket color-1"></i>
                    <div class="ser_content">
                        @*<h4>Design & Development</h4>*@
                        <p>Báo cáo trung thực, hiệu quả thông qua kịch bản khảo sát đã được nghiên cứu kỹ lưỡng bởi chuyên gia. Chất lượng thực hiện tôt </p>
                    </div>
                </div>
            </div><!--END COL -->

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_service">
                    <i class="ser_icon ti-bar-chart color-2"></i>
                    <div class="ser_content">
                        @*<h4>Digital Marketing</h4>*@
                        <p>Tiến độ linh hoạt theo đúng theo yêu cầu nhằm bổ trợ tốt nhất cho việc phối kết hợp với các chương trình khác trong chiến dịch marketing. </p>
                    </div>
                </div>
            </div><!--END COL -->

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_service">
                    <i class="ser_icon ti-apple color-3"></i>
                    <div class="ser_content">
                        @*<h4>ISO App Development</h4>*@
                        <p>Chi phí chỉ bằng 1/10 so với khảo sát truyền thống và thông qua ứng dụng phần mềm mới nhất giảm thiểu chi phí điện thoại tới 70%. </p>
                    </div>
                </div>
            </div><!--END COL -->

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_service">
                    <i class="ser_icon ti-paint-roller color-4"></i>
                    <div class="ser_content">
                        @*<h4>User Interface Design</h4>*@
                        <br />
                        <p>Nâng tầm thương hiệu thông qua quy trình chăm sóc và hỗ trợ hiệu quả. </p>
                        <br />

                    </div>
                </div>
            </div><!--END COL -->

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_service">
                    <i class="ser_icon ti-shopping-cart-full color-5"></i>
                    <div class="ser_content">
                        @*<h4>eCommerce Solution</h4>*@
                        <br />
                        <p>Tập trung được nguồn lực vào nội dung cốt lõi của chiến dịch marketing. </p>
                        <br />
                    </div>
                </div>
            </div><!--END COL -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_service">
                    <i class="ser_icon ti-video-camera color-6"></i>
                    <div class="ser_content">
                        @*<h4>Total Branding</h4>*@
                        <br />
                        <p>Quản lý tốt rủi ro nhờ kiểm soát được tiến trình thực hiện online và các chỉ số đo lường. </p>
                        <br />
                    </div>
                </div>
            </div><!--END COL -->
        </div><!--END  ROW -->
    </div><!-- END CONTAINER -->
</section>
<!-- END SERVICE-->
<!-- START PORTFOLIO -->
<section id="portfolio" class="works_area section-padding" style="display:none">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center wow zoomIn">
                <span>Product</span>
                <h2>Check our Latest Works</h2>
            </div>

            <div class="col-md-12">
                <div class="our_work_menu">
                    <ul>
                        <li class="filter wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".25s" data-filter="all">All</li>
                        <li class="filter" data-filter="branding">Branding</li>
                        <li class="filter" data-filter="web">Web</li>
                        <li class="filter" data-filter="package">Package</li>
                        <li class="filter" data-filter="video">Video</li>
                    </ul>
                </div>
            </div>

            <div class="work_all_item">
                <div class="grid-item col-md-4 col-sm-6 col-xs-12 mix all branding package">
                    <div class="single_our_work">
                        <div class="sing_work_photo">
                            <figure>
                                <img src="~/Content/CRM-Web/img/portfolio/1.jpg" alt="img">
                                <div class="sing_work_text_link">
                                    <div class="sing_work_content">
                                        <a href="assets/img/portfolio/1.jpg" class="lightbox search vbox-item" data-gall="gall-work"><i class="ti-plus"></i></a>
                                        <div class="work_text">
                                            <a href="portfolio-details.html"><h4>Portfolio Title</h4></a>
                                            <p>
                                                Branding
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div><!--- END COL -->

                <div class="grid-item col-md-4 col-sm-6 col-xs-12 mix all web">
                    <div class="single_our_work">
                        <div class="sing_work_photo">
                            <figure>
                                <img src="~/Content/CRM-Web/img/portfolio/2.jpg" alt="img">
                                <div class="sing_work_text_link">
                                    <div class="sing_work_content">
                                        <a href="assets/img/portfolio/2.jpg" class="lightbox search vbox-item" data-gall="gall-work"><i class="ti-plus"></i></a>
                                        <div class="work_text">
                                            <a href="portfolio-details.html"><h4>Portfolio Title</h4></a>
                                            <p>
                                                Web
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div><!--- END COL -->

                <div class="grid-item col-md-4 col-sm-6 col-xs-12 all package branding">
                    <div class="single_our_work">
                        <div class="sing_work_photo">
                            <figure>
                                <img src="~/Content/CRM-Web/img/portfolio/3.jpg" alt="img">
                                <div class="sing_work_text_link">
                                    <div class="sing_work_content">
                                        <a href="assets/img/portfolio/3.jpg" class="lightbox search vbox-item" data-gall="gall-work"><i class="ti-plus"></i></a>
                                        <div class="work_text">
                                            <a href="portfolio-details.html"><h4>Portfolio Title</h4></a>
                                            <p>
                                                Branding
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div><!--- END COL -->

                <div class="grid-item col-md-4 col-sm-6 col-xs-12 mix all branding package video">
                    <div class="single_our_work">
                        <div class="sing_work_photo">
                            <figure>
                                <img src="~/Content/CRM-Web/img/portfolio/4.jpg" alt="img">
                                <div class="sing_work_text_link">
                                    <div class="sing_work_content">
                                        <a href="assets/img/portfolio/4.jpg" class="lightbox search vbox-item" data-gall="gall-work"><i class="ti-plus"></i></a>
                                        <div class="work_text">
                                            <a href="portfolio-details.html"><h4>Portfolio Title</h4></a>
                                            <p>
                                                Package
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div><!--- END COL -->

                <div class="grid-item col-md-4 col-sm-6 col-xs-12 mix all branding package">
                    <div class="single_our_work">
                        <div class="sing_work_photo">
                            <figure>
                                <img src="~/Content/CRM-Web/img/portfolio/5.jpg" alt="img">
                                <div class="sing_work_text_link">
                                    <div class="sing_work_content">
                                        <a href="assets/img/portfolio/5.jpg" class="lightbox search vbox-item" data-gall="gall-work"><i class="ti-plus"></i></a>
                                        <div class="work_text">
                                            <a href="portfolio-details.html"><h4>Portfolio Title</h4></a>
                                            <p>
                                                Branding
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div><!--- END COL -->

                <div class="grid-item col-md-4 col-sm-6 col-xs-12 mix all branding video">
                    <div class="single_our_work">
                        <div class="sing_work_photo">
                            <figure>
                                <img src="~/Content/CRM-Web/img/portfolio/6.jpg" alt="img">
                                <div class="sing_work_text_link">
                                    <div class="sing_work_content">
                                        <a href="assets/img/portfolio/6.jpg" class="lightbox search vbox-item" data-gall="gall-work"><i class="ti-plus"></i></a>
                                        <div class="work_text">
                                            <a href="portfolio-details.html"><h4>Portfolio Title</h4></a>
                                            <p>
                                                Video
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div><!--- END COL -->
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
                @*<a href="#" class="btn-light-bg">View All Works <i class="ti-hand-point-right"></i></a>*@
            </div><!--- END COL -->
        </div>

    </div>
</section>
<!-- END PORTFOLIO -->
<!-- START COUNDOWN -->
<section class="counter_feature" id="achievement">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center wow zoomIn">
                <span>Thành Tựu</span>
                <h2>Kedu- đã có được những thành tựu gì ?</h2>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="counter">
                        <i class="ti-bag"></i>
                        <div class="counter_content pull-left">
                            <h3> 10+ </h3>
                            <span>Đối Tác</span>
                        </div>
                    </div>
                </div> <!--- END COL -->

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="counter">
                        <i class="ti-write"></i>
                        <div class="counter_content pull-left">
                            <h3>100 000+</h3>
                            <span>Khách Hàng</span>
                        </div>
                    </div>
                </div><!--- END COL -->

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                    <div class="counter">
                        <i class="ti-cup"></i>
                        <div class="counter_content pull-left">
                            <h3>10 000+</h3>
                            <span>Giờ Đàm Thoại</span>
                        </div>
                    </div>
                </div> <!--- END COL -->

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
                    <div class="counter">
                        <i class=" ti-user "></i>
                        <div class="counter_content pull-left">
                            <h3>80%</h3>
                            <span>Khách hàng quay lại</span>
                        </div>
                    </div>
                </div> <!--- END COL -->
            </div>
        </div>

        <!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END COUNDOWN -->
<!-- START ABOUT US -->
@*<section id="video" data-stellar-background-ratio="0.3" class="about_video section-padding" style="background-image:  url(../../Content/CRM-Web/img/bg/download-bg.jpg); background-size:cover; background-position: top center; background-attachment: fixed;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="video-container">
                        <a href="https://www.youtube.com/embed/46zPW2BgMOA" data-vbtype="video" data-autoplay="true" class="vid_btn play_btn vbox-item">
                            <i class="fa fa-youtube-play"></i>
                        </a>

                        <span>Kedu làm việc ra sao?</span>
                        <h4>Watch Video</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's <br>  standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>

                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>*@
<!-- END ABOUT US -->
<!-- START OUR TEAM -->
<section id="team" class="our_team section-padding" style="display:none;">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center wow zoomIn">
                <span> Đội Ngũ</span>
                <h2>Kedu - đã có một đội ngũ nhân viên lớn mạnh như thế nào ?</h2>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single_team">
                    <div class="img_wrap">
                        <img src="~/Content/CRM-Web/img/team/1.jpg" class="img-responsive" alt="Mary Burris" />
                        <div class="social_link">
                            <h3>Mary Burris</h3>
                            <p>CEO</p>

                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div> <!-- End Col -->
            <div class="col-md-3 col-sm-6">
                <div class="single_team">
                    <div class="img_wrap">
                        <img src="~/Content/CRM-Web/img/team/2.jpg" class="img-responsive" alt="Jean Leal" />
                        <div class="social_link">
                            <h3>Jean Leal</h3>
                            <p>Co Founder</p>

                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div> <!-- End Col -->
            <div class="col-md-3 col-sm-6">
                <div class="single_team">
                    <div class="img_wrap">
                        <img src="~/Content/CRM-Web/img/team/3.jpg" class="img-responsive" alt="Myrtle Mullen" />
                        <div class="social_link">
                            <h3>Myrtle Mullen</h3>
                            <p>Web Designer</p>

                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div> <!-- End Col -->
            <div class="col-md-3 col-sm-6">
                <div class="single_team">
                    <div class="img_wrap">
                        <img src="~/Content/CRM-Web/img/team/4.jpg" class="img-responsive" alt="Sandra Messer" />
                        <div class="social_link">
                            <h3>Sandra Messer</h3>
                            <p>Marketer</p>

                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div> <!-- End Col -->
        </div>
    </div>
</section>
<!-- END TEAM -->
<!-- START PRICING -->
@*<section id="pricing" class="pricing_table section-padding gray-section">
        <div class="container">
            <div class="row text-center">
                <div class="section-title text-center wow zoomIn">
                    <span>Pricing Table</span>
                    <h2>Check our Offers</h2>
                </div>

                <nav class="pricing-tab">
                    <span class="monthly_tab_title">Monthly	</span>
                    <span class="pricing-tab-switcher"></span>
                    <span class="annual_tab_title">Annual</span>
                </nav><!-- End Nav -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-table">

                        <div class="price pricing-amount">
                            <div class="annual_price">$80 <span>/ Annual</span></div>
                            <div class="monthly_price">$28 <span>/ month</span></div>
                        </div>

                        <h3>Basic</h3>
                        <ul class="pricing-list">
                            <li>50GB Disk Space</li>
                            <li>40 Email Accounts</li>
                            <li>8 Domains</li>
                            <li>24/7 Support</li>
                        </ul>

                        <div class="pricing-btn">
                            <a href="#" class="btn-light-bg">Order Now</a>
                        </div>
                    </div><!-- END PRICING TABLE -->
                </div><!-- END COL -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-table">
                        <div class="price pricing-amount">
                            <div class="annual_price">$150 <span>/ Annual</span></div>
                            <div class="monthly_price">$48 <span>/ month</span></div>
                        </div>
                        <h3>Standard</h3>
                        <ul class="pricing-list">
                            <li>80GB Disk Space</li>
                            <li>60 Email Accounts</li>
                            <li>20 Domains</li>
                            <li>24/7 Support</li>
                        </ul>

                        <div class="pricing-btn">
                            <a href="#" class="btn-light-bg">Order Now</a>
                        </div>
                    </div><!-- END PRICING TABLE -->
                </div><!-- END COL -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-table">
                        <div class="price pricing-amount">
                            <div class="annual_price">$280 <span>/ Annual</span></div>
                            <div class="monthly_price">$68 <span>/ month</span></div>
                        </div>

                        <h3>Premium</h3>
                        <ul class="pricing-list">
                            <li>100GB Disk Space</li>
                            <li>100 Email Accounts</li>
                            <li>80 Domains</li>
                            <li>24/7 Support</li>
                        </ul>

                        <div class="pricing-btn">
                            <a href="#" class="btn-light-bg">Order Now</a>
                        </div>
                    </div><!-- END PRICING TABLE -->
                </div><!-- END COL  -->
            </div><!--END  ROW  -->
        </div><!-- END CONTAINER  -->
    </section>*@
<!-- END PRICING -->
<!-- Start testimonials -->
@*<section class="testimonials_area section-padding">
        <div class="container">
            <div class="row">
                <div class="section-title text-center wow zoomIn">
                    <span>Testimonials</span>
                    <h2>Our Honorable Clients Says</h2>
                </div>

                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <div class="testimonials_carousel text-center">
                        <div class="single_testimonial">
                            <div class="avatar">
                                <img src="~/Content/CRM-Web/img/testimonial/1.jpg" alt="Margaret Robinson" />
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis risus vel leo molestie hendrerit sed sed mi. Vestibulum in consequat orci. Nam auctor, eros eu aliquam semper nisl erat tristique massa sit amet
                            </p>
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <h5>Margaret Robinson</h5>

                        </div>

                        <div class="single_testimonial">
                            <div class="avatar">
                                <img src="~/Content/CRM-Web/img/testimonial/2.jpg" alt="Kelly Cresswell" />
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis risus vel leo molestie hendrerit sed sed mi. Vestibulum in consequat orci. Nam auctor, eros eu aliquam semper nisl erat tristique massa sit amet
                            </p>
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <h5>Kelly Cresswell</h5>

                        </div>

                        <div class="single_testimonial">
                            <div class="avatar">
                                <img src="~/Content/CRM-Web/img/testimonial/3.jpg" alt="Jennifer Williams" />
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis risus vel leo molestie hendrerit sed sed mi. Vestibulum in consequat orci. Nam auctor, eros eu aliquam semper nisl erat tristique massa sit amet
                            </p>
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <h5>Luis Clark</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>*@
<!-- End testimonials -->
<!-- START COMPANY PARTNER LOGO  -->
<div class="partner-logo " id="Doi_Tac">
    <div class="container">
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <span>Đối Tác</span>
                <h2>Đối tác của Kedu</h2>
            </div>
            <div class="col-md-12">
                <div class="partner wow fadeInRight fadeInLeft">

                    <a href="#" target="_blank"><img src="~/Content/CRM-Web/img/bg/logo-topica.png" alt="image"></a>
                    <a href="#" target="_blank"><img src="~/Content/CRM-Web/img/bg/khoa-hoc-edumall.png" alt="image" style="width:70%"></a>
                    <a href="#" target="_blank"><img src="~/Content/CRM-Web/img/bg/logo (1).png" alt="image"></a>
                    <a href="#" target="_blank"><img src="~/Content/CRM-Web/img/bg/Logo-PowerSell-ngang-png.png" alt="image"></a>
                    <a href="#" target="_blank"><img src="~/Content/CRM-Web/img/bg/Kynavnraftlogo.svg" alt="image" style="width:75%"></a>
                    <a href="#" target="_blank"><img src="~/Content/CRM-Web/img/bg/1557549967 (1).png" alt="image"></a>

                </div>
            </div>
            <!-- END COL  -->
        </div><!--END  ROW  -->
    </div><!-- END CONTAINER  -->

</div>
<!-- END COMPANY PARTNER LOGO -->
<!-- START HOME BLOG -->
@*<section id="blog" class="home_blog section-padding gray-section">
        <div class="container">
            <div class="row">
                <div class="section-title text-center wow zoomIn">
                    <span>Tin Tức	</span>
                    <h2>Tin Tức nổi bật về Kedu</h2>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn">
                    <div class="home_single_blog">
                        <img src="~/Content/CRM-Web/img/blog/1.jpg" class="img-responsive blog-photo wp-post-image" alt="" width="850" height="530">									<div class="home_blog_text">
                            <h4><a href="#">Ut pellentesque tristique vel</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis tincidunt nulla, nec venenatis neque</p>
                            <a class="blog_btn" href="#">Learn More</a>
                        </div>
                    </div><!--- END SINGLE BLOG POST -->
                </div><!--- END COL -->

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn">
                    <div class="home_single_blog">
                        <img src="~/Content/CRM-Web/img/blog/2.jpg" class="img-responsive blog-photo wp-post-image" alt="" width="850" height="530">									<div class="home_blog_text">
                            <h4><a href="#">Proin eleifend tincidunt nibh</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis tincidunt nulla, nec venenatis neque</p>
                            <a class="blog_btn" href="#">Learn More</a>
                        </div>
                    </div><!--- END SINGLE BLOG POST -->
                </div><!--- END COL -->

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn">
                    <div class="home_single_blog">
                        <img src="~/Content/CRM-Web/img/blog/3.jpg" class="img-responsive blog-photo wp-post-image" alt="" width="850" height="530">									<div class="home_blog_text">
                            <h4><a href="#">Quisque iaculis nulla ante</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis tincidunt nulla, nec venenatis neque</p>
                            <a class="blog_btn" href="#">Learn More</a>
                        </div>
                    </div><!--- END SINGLE BLOG POST -->
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>*@
<!-- END HOME BLOG -->
<!-- START CONTACT FORM-->
<section id="contact" class="contact_area section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <span>Liên Hệ</span>
                <h2>Hãy liên lạc với chúng tôi ngay</h2>
            </div>

            <div class="col-md-9 center-block">
                <div class="contact_info">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single_contact">
                                <i class="ti-headphone color-1"></i>
                                <p>

                                    <br />
                                    Hotline: 0904.6400.73
                                    <br />
                                    <br />
                                </p>
                            </div><!--- END Single Contact -->
                        </div>

                        <div class="col-md-4">
                            <div class="single_contact">
                                <i class="ti-email color-4"></i>
                                <p>

                                    <br />
                                    Mail: contact@kedu.vn
                                    <br />
                                    <br />
                                </p>
                            </div><!--- END Single Contact -->
                        </div>

                        <div class="col-md-4">
                            <div class="single_contact">
                                <i class="ti-location-pin color-6"></i>
                                <p>

                                    Số 42-44 Nguyễn Hiền phường 4, quận 3, Hồ Chí Minh
                                </p>
                            </div><!--- END Single Contact -->
                        </div>

                    </div>
                </div>
            </div><!--- END COL -->
            @*<div class="col-md-7 center-block">
                    <div class="contact">
                        <form id="contact-form" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" id="first-name" placeholder="Tên của bạn" required="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea rows="6" name="message" class="form-control" id="description" placeholder="Nội dung" required="required"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="actions text-center">
                                        <input type="submit" value="Gửi tin nhắn" name="submit" id="submitButton" class="btn-light-bg" title="Submit Your Message!" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>*@<!-- END COL -->

        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END CONTACT FORM -->