@model IEnumerable<SelectListItem>
<div class="col-md-5">
    <label>Store:  </label>
</div>
<div class="col-md-6">
    @Html.DropDownList("Store_Code", (IEnumerable<SelectListItem>)ViewBag.listStore)
</div>